/* Basic styling for the navigation bar */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
}

h1 {
  margin: 20px 0 0 0;
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Make the navigation bar fixed */
  width: 100%; /* Make it full width */
  top: 0; /* Stick it to the top of the screen */
  z-index: 999;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}
nav a:hover {
  /* background-color: #555; */
  color: #a52020;
  transition: color 0.1s ease-in-out;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrollbar if needed */
}
code {
  font-family: Consolas, monospace;
  font-size: 14px;
  color: #333;
}

.title {
  padding: auto;
  padding-top: 30px;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

svg {
  background-color: white;
}

.cell {
  stroke: white;
  stroke-width: 1px;
}
.label {
  text-anchor: middle;
  fill: black;
}

.label > .name {
  dominant-baseline: text-after-edge;
}

.label > .value {
  dominant-baseline: text-before-edge;
}

/* BEGIN INDEX HTML */
.homeTitleText {
  padding: auto;
  padding-top: 40px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.simpleVoronoi {
  display: flex;
  padding-left: 20px;
}

.centerText {
  display: grid;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 1.5rem;
}

.centerText h2 {
  font-size: 1.3rem;
  display: grid;
}

.centerText p {
  font-size: 1rem;
  max-width: 900px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 10px 0;
}

/* END INDEX HTML */

/* BEGIN CODETUTORIAL HTML*/
.codeTitle {
  padding: auto;
  padding-top: 50px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.codeIntro {
  padding: auto;
  padding-top: 5px;
  font-size: 1rem;
  max-width: 900px;
  padding-left: 20px;
}

/* END CODETUTORIAL HTML*/

/* BEGIN VORONOITREEMAPS HTML */
.complexVoronoi {
  display: grid;
  place-content: center;
  padding-top: 50px;
}
