.container {
    display: flex;
    max-width: 100vw;
}

.dropdown-container {
    flex: 1;
    max-width: 5vw
}

.parallel-plot-container {
    flex: 1;
    max-width: 80vw
}

.hold-table-container {
    flex: 1;
    max-width: 10vw
}
